/* ROOT */
:root{
    --main-font-family: "Space mono", "Courier New", monospace;
    --mai-font-family-second: "Lexend Deca", "Arial", sans-serif;
    --main--font-weight: 700;
    --main-body-bg-color: #fff;
    --main-text-color: #939CAA;
    --main-p-color:#495567;
    --main-font-size:15px;
}
/* space-mono-regular - latin */
@font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: 
    url("../fonts/space-mono-v11-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/space-mono-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* space-mono-700 - latin */
@font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: 
    url("../fonts/space-mono-v11-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/space-mono-v11-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lexend-deca-regular - latin */
@font-face {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: 
    url("../fonts/lexend-deca-v17-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/lexend-deca-v17-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

img{
    display: block;
    /* height: 100%; */
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: var(--main-font-family);
    font-weight: 400;
    background-color: var(--main-body-bg-color);
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.site-main{
    flex-grow: 1;
}
/* Start site header  */
.site-header {
    padding: 22px 0;
}
.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inner__box {
    display: flex;
    align-items: center;
}
.logo-link {
    margin-right: 58px;
}
.nav__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.nav__item:nth-child(2) {
    margin-right: 32px;
    margin-left: 32px;
}
.nav__link {
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-text-color);
    text-decoration: none;
}
.nav__link:hover {
    color: #fcb72b;
}
.inner__link {
    padding: 14px 39px;
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    border: 3px solid transparent;
    color: var(--main-body-bg-color);
    background-color: #fcb72b;
}
.inner__link:hover {
    color: #fcb72b;
    background-color: var(--main-body-bg-color);
    border: 3px solid #fcb72b;
}
/* Finish site header  */

/* Start hero section  */
.hero {
    width: 100%;
    background-image: url(../images/main-hero-bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero__box {
    width: 500px;
}
.hero__title {
    margin-top: 0;
    margin-bottom: 40px;
    padding-top: 153px;
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: var(--main-body-bg-color);
}
.hero__text {
    margin-bottom: 40px;
    font-family: var(--mai-font-family-second);
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-body-bg-color);
}
.hero__text::before {
    border-top: 15px solid #fcb72b;
}
.hero__link {
    display: inline-block;
    margin-bottom: 153px;
    padding: 14px 39px;
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    border: 3px solid transparent;
    color: var(--main-body-bg-color);
    background-color: #fcb72b;
}
.hero__link:hover {
    color: #fcb72b;
    background-color: transparent;
    border: 3px solid #fcb72b;
}
/* Finish hero section  */