/* ROOT */
:root{
    --main-font-family: "Space mono", "Courier New", monospace;
    --mai-font-family-second: "Lexend Deca", "Arial", sans-serif;
    --main--font-weight: 700;
    --main-body-bg-color: #fff;
    --main-text-color: #939CAA;
    --main-p-color:#495567;
    --main-font-size:15px;
}
/* space-mono-regular - latin */
@font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: 
    url("../fonts/space-mono-v11-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/space-mono-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* space-mono-700 - latin */
@font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: 
    url("../fonts/space-mono-v11-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/space-mono-v11-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lexend-deca-regular - latin */
@font-face {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: 
    url("../fonts/lexend-deca-v17-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/lexend-deca-v17-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

img{
    display: block;
    height: auto;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: var(--main-font-family);
    font-weight: 400;
    background-color: var(--main-body-bg-color);
    overflow-x: hidden;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.site-main{
    flex-grow: 1;
}

/* header start */

.header-about{
    padding-top: 34px;
    padding-bottom: 34px;
}
.header-about__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-about__inner{
    display: flex;
    align-items: center;
}
.navigation__list{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    list-style: none;
    padding-left: 0;
}
.navigation__item{
    margin-left: 60px;
}
.navigation__item:nth-child(2){
    /* margin-right: 32px; */
    margin-left: 32px;
}
.navigation__item:nth-child(3){
    margin-left: 32px;
}
.navigation__link{
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
    text-decoration: none;
}
.navigation__link:hover{
    color:  #FCB72B;
    transition: 0.5s ease;
}  

/* header finish */

/* ABOUT SECTION START */
.about{
    background-image: url("../images/about-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 35px;
    padding-bottom: 62px;
}
.about__title{
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: #FFFFFF;
}
/* ABOUT SECTION FINISH */


/* MOBILES SECTION START  */
.mobiles{
    position: relative;
    background-image: url("../images/Mask Copy.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 890px) calc(50% - 215px);
    padding-top: 110px;
    padding-bottom: 78px;
} 
.mobiles__list::before{
    position: absolute;
    top: calc(50% + 20px);
    right: calc(50% + 640px);
    background-image: url("../images/Mask Copy.svg");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 445px;
    height: 445px;
}
.mobiles__item{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    
}
.mobiles__item:nth-child(1):after{
    position: absolute;
    top: calc(50% - 165px);
    left: calc(50% + 17px);
    background-image: url("../images/strelkaabout.svg");
    content: "";
    background-repeat: no-repeat;
    display: inline-block;
    width: 735px;
    height: 150px;
}
.mobiles__item:nth-child(2)::before{
    position: absolute;
    top: calc(50% + 15px);
    right: calc(50% + 35px);
    background-image: url("../images/srelka.svg");
    content: "";
    background-repeat: no-repeat;
    display: inline-block;
    width: 735px;
    height: 150px;
}
.mobiles__box{
    width: 445px;
}
.mobiles__img{
    width: 445px;
    height: 445px;
    border-radius: 50%;
}
.mobiles__heading{
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: var(--main-p-color);
} 
.mobiles__text{
    font-weight: 400;
    font-size: var(--main-font-size);
    line-height: 25px;
    color: var(--main-text-color);
}      
/* MOBILES SECTION FINISH */

/* VALUES SECTION START */
.values{
    padding-bottom: 120px;
}
.values__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 100px;
    letter-spacing: -2.14286px;
    color: var(--main-p-color);
}
.values__list{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
}
.values__item{
    position: relative;
    width: 350px;
}
.values__img{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 87px;
}
.values__item::before{
    position: absolute;
    top: calc(50% - 25px);
    right: calc(50% - 50px);
    background-image: url("../images/Group 31.svg");
    content: "";
    background-repeat: no-repeat;
    display: inline-block;
    width: 96px;
    height: 96px;
}
.values__item:nth-child(2):before{
    background-image: url("../images/Group 10.svg");
}
.values__item:nth-child(3):before{
    background-image: url("../images/Group 30.svg");
}
.value__info{
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -1.07143px;
    color: #495567;
}
.value__text{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #939CAA;
    
}
/* VALUES SECTION FINISH */

/* APPS SECTION START */

.apps {
    padding-bottom: 160px;
}
.apps__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 64px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: #495567;
    
}
.apps__box {
    display: flex;
    justify-content: space-between;
}
.apps__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.78571px;
    color: #495567;
    margin: 0;
}
.apps__detaiels {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 40px;
    background-color: #F2F5F9;
    width: 730px;
}
.apps__detaiels:hover{
    background-color:  #FFF4DF;
}
.apps__summary-title {
    position: relative;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
    list-style: none;
    transition: 0.5s ease;
}
.apps__summary-title::after{
    position: absolute;
    right: 40px;
    top: 9px;
    background-image: url("../images/Path 3.svg");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 20px;
    height: 12px;
    transform: scale(1.5);
    transition: 0.8s ease;
    
}
.apps__list{
    list-style: none;
    padding-left: 0;
}
.apps__item:nth-child(2){
    margin-top: 16px;
    margin-bottom: 16px;
}
.apps__detaiels[open] .apps__summary-title::after{
    transform: rotate(180deg);
    transition: 0.8s ease;
}
.apps__detaiels[open] {
    background-color: #F2F5F9;
}
.apps__detaiels[open] .apps__summary-title{
    font-size: 20px;
    transition: 0.5s ease;
} 
.apps__text{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
}
.apps__safe-driving{
    margin-top: 64px;
}
.scoot-login{
    padding: 14px 39px;
    background-color: #FCB72B;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    border: 3px solid transparent;
}
.scoot-login:hover{
    background-color: #fff;
    color: #FCB72B;
    border: 3px solid #FCB72B;
    
}

/* APPS SECTION FINISH */

/* COMPANY SECTION START */

.company{
    background-image: url("../images/Mask.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 102px;
}
.company__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.company__title{
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #FFFFFF;
}
.company__list{
    display: flex;
    list-style: none;
    margin-left: 18px;
    
}
.company__item{
    width: 165px;
    padding: 8px 15px 9px 16px;
    background-color: #E5ECF4;
    border-radius: 4px;
    margin-left: 20px;
}
.company__item:nth-child(2){
    width: 182px;
}
.company__link{
    display: flex;
    text-decoration: none;
    
}
.company__store-heading{
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.446429px;
    color: #495567;
    
}
.company__box{
    margin-left: 11px;
}
.company__text{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.892857px;
    color: #495567;
}

/* COMPANY SECTION FINISH */
    
    /* FOOTER START */

.site-footer{
    padding-top: 36px;
    padding-bottom: 36px;
    background-color:  #333A44;
}    
.footer__list{
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
}
.footer__item{
    margin-right: 24px;
}
.footer__item:nth-child(3){
    margin-right: 0;
}
.footer__link{
    color: #fff;
}
.footer__link:hover{
    color: #FCB72B;
}
       /* FOOTER FINISH */
